.headerContainer {
    border: 1px solid rgba(0, 0, 0, 0.192);
    margin-top: 5rem;
    width: 50%;
    background: var(--white);
    display: flex;
    flex-flow: column;
    margin-left: 5rem;
    padding: 4rem;

    select {
        border-radius: 5px;
        margin: .2rem;
        height: 30px;
    }

    // &.isActive:hover {
    //     filter: invert(0.35) sepia(1) saturation(3) hue-rotate(100deg)
    // }

    input {
        border-radius: 5px;
        margin: .2rem;
        height: 30px;
        padding: 4px;
    }

    button {
        border-radius: 5px;
        width: 12rem;
        height: 30px;
        margin: 5px;
        background: rgb(38, 147, 219);
        color: white;

        &:hover{
          filter: brightness(0.95);
          box-shadow: black;
        }
    }

    p {
        color: red;
        margin: 5px;

        &.isActive {
            color: green;
        }
    }
}

.inputGroup {
    display: flex;
    flex-flow: column;
    align-content: center;
}

.selectInput {
    width: 12rem;
    margin-left: .1rem;;
}

.buttons {
    display: flex;
}