.headerContainer {

        align-items: center;
        background-color: rgb(216, 216, 216);
        color: rgb(168, 168, 168);
        display: flex;
        justify-content: center;
        margin-bottom: 0;
        min-height: 50px;
        margin-top: 100vh;
        margin-bottom: 0;
        width: 100%;
}